.img-profile{
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.team-member img{
    object-fit: cover;
}
.timeline-image img{
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}
header.masthead{
    background-image: url("../assets/img/bg-header.jpg");
}
#mainNav{
    background-color: rgba(0,0,0,0.6);
}
.portfolio-modal .modal-content p{
    text-align: justify;
}
@media (min-width: 768px){
    header.masthead{
        padding-top: 10rem;
    }
    header.masthead .masthead-heading{
        font-size: 4rem;
    }
}
